#include "charybdis_cirque.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    diode-direction = "col2row";
    col-gpios
        = <&pro_micro 1 (GPIO_ACTIVE_HIGH)> // COL0 
        , <&pro_micro 0 (GPIO_ACTIVE_HIGH)> // COL1 
        , <&pro_micro 2 (GPIO_ACTIVE_HIGH)> // COL2 
        , <&pro_micro 3 (GPIO_ACTIVE_HIGH)> // COL3 
	, <&pro_micro 4 (GPIO_ACTIVE_HIGH)> // COL1 
        , <&pro_micro 21 (GPIO_ACTIVE_HIGH)> // COL2 
    ;
};
// &nice_nano_spi {
//     status = "okay";
// };
// &trackpad {
//     status = "okay";
// };


&pro_micro_spi {
    compatible = "nordic,nrf-spim";
    status = "okay";

    miso-pin = <13>; // P0.13
    mosi-pin = <24>; // P0.24
    sck-pin = <9>; // P0.09
    cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>; // P0.10

    trackpad: trackpad@2A {
        status = "okay";
        compatible = "cirque,pinnacle";
        reg = <0x2A>;
        label = "Cirque_Trackpad";
	dr-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;// P1.06
        spi-max-frequency = <10000000>;
    };
};






