#include "charybdis_cirque.dtsi"

&default_transform {
    col-offset = <3>;
};

&kscan0 {
    diode-direction = "col2row";
    col-gpios
        = <&pro_micro 10 (GPIO_ACTIVE_HIGH)> // COL0 
        , <&pro_micro 16 (GPIO_ACTIVE_HIGH)> // COL1 
        , <&pro_micro 14 (GPIO_ACTIVE_HIGH)> // COL2 
        ;
};

&pro_micro_spi {
    compatible = "nordic,nrf-spim";
    status = "okay";
    miso-pin = <13>; // P0.13
    mosi-pin = <20>; // P0.20
    sck-pin = <24>; // P0.24
    cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>; // P0.15

    trackball: trackball@0 {
        status = "okay";
        compatible = "cirque,pinnacle";
        reg = <0>;
        label = "cirque trackpad";
	dr-gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;// P0.17
        spi-max-frequency = <1000000>;
        /* sleep; */
    };
};






